body{
    text-align: center;
    background-image: url(images/background-img.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

p{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #F8F1FF;
}

header{
    background-color: none;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
li{
    float: center;
    display: inline;
}

#desc{
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;
}

#desc p{
    color: #a0a7a7;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.form-wrapper {
    background: #fafafa;
    margin: 3em auto;
    padding: 0 1em;
    max-width: 370px;
}

a{
    color: #F8F1FF;
}

li a {
    text-align: center;
    display: inline-block;
    color: #F8F1FF;
    padding: 16px;
    text-decoration: none;
    transition: 0.5s;
}
li a:hover {
    opacity: 0.5;
    color: black;
}

#website_name{
    color:#F8F1FF;
    font-size: xxx-large;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    transition: 3s;
}

#website_name:hover{
    font-size:80px;
}

#img1,#img2,#img3,#img4,#img5,#img6,#img7,#img8{
    width: 300px;
    height: 300px;
    padding: 10px;
    border-radius: 10%;
}

#sign{
    font-size: xxx-large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:#F8F1FF;
}

.signup-form{
    color: rgb(255, 255, 255);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color:rgb(237, 237, 238,0.2);
    border-radius: 5%;
    margin: 3em auto;
    padding: 0 1em;
    max-width: 370px;
}

form{
    padding: 0 1.5em;
}

input[type=text], input[type=password] , input[type=email] {
    background: none;
    text-align: center;
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid #c0c0c0;
    outline: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    color: rgb(255, 255, 255);
    opacity: 1;
}

.container {
    padding: 16px;
}

button {
    background-color:#52489C;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

button:hover {
    opacity:1;
}
.login-form{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #F8F1FF;
    background-color:rgb(237, 237, 238,0.2);
    border-radius: 5%;
    margin: 3em auto;
    padding: 0 1em;
    max-width: 370px;
}

.login{
    background-color: #F8F1FF;
}

#log{
    font-size: xxx-large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #F8F1FF;
}

.button1 , .button , .explore{
    width: 250px;
    font-size: 18px;
    border-radius: 12px;
    cursor: pointer;
    margin: 4px 2px;
}

h2{
    color:#a0a7a7;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

input[type=search] {
    background: none;
    width: 40%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid #a0a7a7;
    color:#F8F1FF;
    outline: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: larger;
    text-align: center;
}

.card {
    width: 320px;
    height: 500px;
    border-radius: 20px;
    overflow: hidden;
    border: 5px solid #ffff;
    position: relative;
    margin: 10px;
}

.card-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}

.card-body{
    width: 100%;
    height: 100%;
    top:0;
    right: -120%;
    position: absolute;
    backdrop-filter: blur(4px);
    border-radius: 15px;
    color:#ffff;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 2s;
}

.card:hover .card-body{
    right:-10%;
} 

.card-title{
    text-transform: uppercase;
    font-size: 50px;
    font-weight: 500;
}

.card-sub-title{
    text-transform:capitalize;
    font-size: 14px;
    font-weight: 300;
}

.card-info{
    font-size:16px;
    line-height:18.5px;

    font-weight:400;
}

.reviews{
    display: inline-flex;
    justify-content: space-between;
}